<html>
<head>
    <style>
label::before {
    background-image: url(../path/to/unchecked.png);
}

:checked + label::before {
    background-image: url(../path/to/checked.png);
}


    </style>
</head>
<body>
<h1>Output page</h1>
<ul>

    {% for duplicate in duplicates %}

    {% for image in duplicate.images %}
    <p>{{image.symlink}}</p>
    <input type="checkbox" id="myCheckbox1"/>
    <label for="myCheckbox1"><img src={{image.symlink}}></label>
    <img src={{image}}/>
    {% endfor %}


    {% endfor %}


</ul>


</body>

</html>