<html>
<head>
    <head>
        <title>Image Duplicate Management</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <style>
label::before {
    background-image: url(../path/to/unchecked.png);
}

:checked + label::before {
    background-image: url(../path/to/checked.png);
}



    </style>
</head>
<body>

<div class="container py-5">
    <div class="row ">
        <h1 style="text-align: center;">Duplicate Image Finder</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Path</th>
            </tr>
            </thead>
            <tbody>
            {% for path in search_paths %}
            <tr>
                <th>{{path}}</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <form method="post" action="/">
                <input type="text" id="name" name="new_path" required
                       minlength="4" maxlength="500" size="200">
                <input type="submit" value="Add"/>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary" form="duplicateForm">Search duplicates</button>
            <button type="submit" class="btn btn-primary" form="duplicateForm">Delete selected</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form  id="duplicateForm" action="/duplicates" method="post">
        {% for duplicate in duplicates.values() %}
        <div class="row">
            {% for image in duplicate.images %}
            <div class="col">
                <p>{{image.link}}</p>
                <input type="checkbox" id="checkbox" name="{{image.path}}||{{duplicate.hash_sum}}"/>
                <p> {{image.path}}</p>
                <img src={{image.symlink}} class="img-thumbnail" width="120" height="90"/>
            </div>
            {% endfor %}

            <hr>
        </div>

        {% endfor %}

    </form>
</div>


</body>

</html>